.smallSize {
    display: grid;
    grid-template-rows: 10% 70% 20%;
    border: 2px solid hsl(184, 47%, 33%);
    border-radius: 25px;
    padding: 20px;
    margin: 2px;
}

.smallSiz {
    border: 2px solid hsl(184, 47%, 33%);
    border-radius: 25px;
    padding: 20px;
    margin: 2px;
    width: fit-content;
}

.tumbnail {
    width: 100%;
}