.icon {
    cursor: default;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: border-radius 2s;
}

.icon:hover {
    border-radius: 10%;
}

.after-display-none::after {
    display: none !important;
}